{% extends 'layout.html' %}

{% block body %}
<h1 class="text-center">Ziengs.nl</h1>
</br>
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <form action="/uploadProductsToElastic/ziengs/" method="post">
                <button class="btn btn-primary" name="uploadButton" type="submit">Upload products to ElasticSearch</button>
            </form>
        </div>
        <div class="col-lg-2">
            <form action="/deleteElastic/ziengs/" method="post">
                <button class="btn btn-danger" name="deleteBtn" type="submit">Delete products from ElasticSearch</button>
            </form>
        </div>
    </div>
<br>
    <div class="row">
        <div class="col-lg-4">
            <h3 class="text-center">Product</h3>
            <div class="list-group" style="height: 500px; overflow: scroll;">
                {% for product in products %}
                <div>
                    <button type="button" class="list-group-item list-group-item-action " onclick="displayDetails('{{product.brand}}', '{{product.shoeType}}', {{product.price}}, '{{product.toStringCategory()}}')">
                        {{product.name}}
                    </button>
                </div>
                {% endfor %}
            </div>
        </div>




        <div class="col-lg-4">
            <h3 class="text-center">Details</h3>
                <h5 id="brand"></h5>
                <h5 id="type"></h5>
                <h5 id="price"></h5>
        </div>
        <div class="col-lg-4">
            <h3 class="text-center">Category - Rank</h3>
            <h5 id="category"></h5>
            <h5 id="rank"></h5>
        </div>
    </div>
</div>

<script>
    function displayDetails(brand, shoetype, price, category)
    {
        document.getElementById("brand").innerHTML = "Brand: " + brand;
        document.getElementById("type").innerHTML = "Shoe type: " + shoetype;
        document.getElementById("price").innerHTML = "Price: " + price;
        document.getElementById("category").innerHTML = category;
    }
</script>
{% endblock %}